@import "../../../assets/fonts";
@import "../../UI/media";

.Logo{
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;
    height: 100%;
    & > *{
        display: inline-block;
    }
    img{
        width: 50px;
        height: 70px;
        margin-top: 5px;
    }
}

.LogoTitle{
    color: $mainGrey;
    margin-left: 20px;
    position: relative;
    top: -15px;
    h2{
      @extend .mainMedium;
        margin: 0;
        text-align: center;
    }
    span{
       @extend .mainMedium;
    }
    hr{
        width: 15px;
        display: inline-block;
        margin-bottom: 3px;
    }

}

@include mobile{
    .Logo{
        margin: 0;
        width: 100%;
        text-align: center;
        >img{
            float: left;
        }
        &Title{
            margin: 0;
            top: 10px;
            right:25px;
        }
    }
}
