.mainBold{
  font-family: nocturne-serif, serif;
  font-weight: 700;
  font-style: normal;
}

.mainBoldItalic{
  font-family: nocturne-serif, serif;
  font-weight: 700;
  font-style: italic;
}
.mainLight{
  font-family: nocturne-serif-lights, serif;
  font-weight: 400;
  font-style: normal;
}
.mainLightItalic{
  font-family: nocturne-serif-lights, serif;
  font-weight: 400;
  font-style: italic;
}

.mainMedium{
  font-family: nocturne-serif, serif;
  font-weight: 500;
  font-style: normal;
}
.mainSemiBold{
  font-family: nocturne-serif, serif;
  font-weight: 600;
  font-style: normal;
}
.mainRegular{
  font-family: nocturne-serif, serif;
  font-weight: 400;
  font-style: normal;
}
.mainExtraLight{
  font-family: nocturne-serif-lights, serif;
  font-weight: 300;
  font-style: normal;
}

$mainGrey: #707070;
$transBlack: #00000080;
$mainCherry: #4f1f22;
